body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    padding: 100px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    margin-top: 20px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 7px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.courses {
    display: flex;
    margin-bottom: 16px;
}

.courses input {
    margin-right: 20px;
}

button {
    background-color: #20a2ac;
    padding: 4px;
    color: #fff;
}

#successMessage {
    display: none;
}
